<h1>Listing templates</h1>

<table>
  <tr>
    <th>Template name</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @templates.each do |template| %>
  <tr>
    <td style="border: 1px solid grey; padding: 1ex; margin: 1ex;"><%= template.template_name %></td>
    <td style="border: 1px solid grey; padding: 1ex; margin: 1ex;"><%= template.describe %></td>
    <td style="border: 1px solid grey; padding: 1ex; margin: 1ex;">
      <%= link_to 'Show', template %>
      <% unless readonly %>
        <%= link_to 'Edit', edit_template_path(template) %>
        <%= link_to 'Destroy', template, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<% unless readonly %>
  <%= link_to 'New Template', new_template_path %>
<% end %>
