<p id="notice"><%= notice %></p>

<p>
  <b>Template name:</b>
  <%= @template.template_name %>
</p>

<p>
  <b>Content:</b>
  <%= @template.content %>
</p>


<% unless readonly %>
  <%= link_to 'Edit', edit_template_path(@template) %> |
<% end %>
<%= link_to 'Back', templates_path %>
